body {
    background-color: rebeccapurple;
  
}

.button {
 
  font-weight: 600;
    font-size: 20px;
    padding:20px;
    text-align: center;
    width:170px;
    margin:40px;
     margin-left: 400px;
    cursor: pointer;
    background: peru;
    text-decoration: none;
    color: purple;
    border-radius: 10px;
    
    
  }
.container {
  text-align: center;
}



/* Wobble Horizontal */
@keyframes wobble-horizontal {
    16.65% {
      transform: translateX(8px);
    }
    33.3% {
      transform: translateX(-6px);
    }
    49.95% {
      transform: translateX(4px);
    }
    66.6% {
      transform: translateX(-2px);
    }
    83.25% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .wobble-horizontal {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
  }
  .wobble-horizontal:hover {
    animation-name: wobble-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
  
  /* Wobble Top */
  @keyframes wobble-top {
    16.65% {
      transform: skew(-12deg);
    }
    33.3% {
      transform: skew(10deg);
    }
    49.95% {
      transform: skew(-6deg);
    }
    66.6% {
      transform: skew(4deg);
    }
    83.25% {
      transform: skew(-2deg);
    }
    100% {
      transform: skew(0);
    }
  }
  .wobble-top {
    display: inline-block;
    transform-origin: 0 100%;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
  }
  .wobble-top:hover {
    animation-name: wobble-top;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
  
  /* Wobble Bottom */
  @keyframes wobble-bottom {
    16.65% {
      transform: skew(-12deg);
    }
    33.3% {
      transform: skew(10deg);
    }
    49.95% {
      transform: skew(-6deg);
    }
    66.6% {
      transform: skew(4deg);
    }
    83.25% {
      transform: skew(-2deg);
    }
    100% {
      transform: skew(0);
    }
  }
  .wobble-bottom {
 
    display: inline-block;
    transform-origin: 100% 0;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
  }
  .wobble-bottom:hover {
    animation-name: wobble-bottom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
  /* Wobble Vertical */
@keyframes wobble-vertical {
    16.65% {
      transform: translateY(8px);
    }
    33.3% {
      transform: translateY(-6px);
    }
    49.95% {
      transform: translateY(4px);
    }
    66.6% {
      transform: translateY(-2px);
    }
    83.25% {
      transform: translateY(1px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .wobble-vertical {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
  }
  .wobble-vertical:hover {
    animation-name: wobble-vertical;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }

